/*------------------------------------*\
#FONTS
\*------------------------------------*/

@font-face {
    font-family: "Source Sans Pro";
    font-weight: 400;
    src: url("../fonts/SourceSansPro-Regular.ttf") format("ttf")
}

@font-face {
    font-family: "Source Sans Pro";
    font-weight: 600;
    src: url("../fonts/SourceSansPro-SemiBold.ttf") format("ttf")
}

@font-face {
    font-family: "Source Sans Pro";
    font-weight: 700;
    src: url("../fonts/SourceSansPro-Bold.ttf") format("ttf")
}

/*------------------------------------*\
#Variables
\*------------------------------------*/

:root {
    /* colors */
    --color-alpha-light: MEDIUMSLATEBLUE;
    --color-alpha: SLATEBLUE;

    --global-color-alpha: #A3A0FB;

    --color-neutral-light: LIGHTSLATEGRAY;
    --color-neutral: SLATEGRAY;
    --color-neutral-dark: DARKSLATEGRAY;

    --color-white: #FFFFFF;
    --color-gray-light-xxxx: #F0F0F7;
    --color-gray-light-xxx: #EBEBF2;
    --color-gray-light-xx: #D7DAE2;
    --color-gray-light-x: #BCBCCB;
    --color-gray: #A5A4BF;
    --color-gray-dark-x: #808495;
    --color-gray-dark-xx: #4D4F5C;
    --color-gray-dark-xxx: #43425D;
    --color-gray-dark-xxxx: #3B3B53;
    --color-green: #3CC480;
    --color-red: #FF6565;
    --color-blue: #3B86FF;
    --color-purple: #A3A0FB;
    --color-purple-dark: #3C3B54;
    --color-greenblue: #54D8FF;

    /* Shadows */
    --global-box-shadow: 0px 2px 3px #0000000d;

    /* border radius */

    /* transitions */
    --global-transition-alpha: .2s;
    --global-transition-beta: .1s;

    /* Whitespace */ 
    --global-baseline: 5px; 
    --global-whitespace-xxs: var(--global-baseline); /* = 5px */
    --global-whitespace-xs: calc(var(--global-baseline) * 2); /* = 10px */
    --global-whitespace-sm: calc(var(--global-baseline) * 3); /* = 15px */
    --global-whitespace-md: calc(var(--global-baseline) * 4); /* = 20px */
    --global-whitespace-lg: calc(var(--global-baseline) * 5); /* = 25px */
    --global-whitespace-xl: calc(var(--global-baseline) * 6); /* = 30px */
}

/*------------------------------------*\
#GENERIC
\*------------------------------------*/

/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

html {
    font-size: 15px;
    line-height: 1.5;
    font-family: Source Sans Pro, sans-serif;
    color: var(--color-gray-dark-xxx);
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--color-gray-light-xxxx);
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* Customize the background color to match your design.
*/

::-moz-selection {
    background: var(--color-alpha);
    color: white;
    text-shadow: none;
}

::selection {
    background: var(--color-alpha);
    color: white;
    text-shadow: none;
}

/*------------------------------------*\
#Elements
\*------------------------------------*/

/*
Elements: Images
---
Default markup for images to make them responsive
*/

img {
    max-width: 100%;
    vertical-align: top;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1,
h2,
h3 {
    font-weight: 700;
}

h1 {
    font-size: 15px;
    line-height: calc(var(--global-baseline) * 10);
    margin: 0/* 0 var(--global-whitespace-md)*/;
    color: var(--color-white);
    letter-spacing: 1px;
}

h2 {
    font-size: 28px;
    font-weight: normal;
    line-height: calc(var(--global-baseline) * 8);
    margin: 0 0 var(--global-whitespace-lg);
}

h3 {
    font-size: 26px;
    line-height: calc(var(--global-baseline) * 6);
    margin: 0 0 var(--global-whitespace-md);
}

h4,
h5,
h6 {
    font-size: 16px;
    font-weight: 600;
    line-height: calc(var(--global-baseline) * 5);
    margin: 0 0 var(--global-whitespace-md);
}

p,
ol,
ul,
dl,
table,
address,
figure {
    margin: 0 0 var(--global-whitespace-md);
}

ul,
ol {
    padding-left: 24px;
}

li ul,
li ol {
    margin-bottom: 0;
}

blockquote {
    font-style: normal;
    font-size: 23px;
    line-height: 32px;
    margin: 0 0 24px;
}

blockquote * {
    font-size: inherit;
    line-height: inherit;
}

figcaption {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin-top: 8px;
}

hr {
    border: 0;
    height: 1px;
    background: LightGrey;
    margin: 0 0 24px;
}

a {
    transition: all var(--transition-alpha);
    color: var(--color-alpha);
    outline-color: var(--color-alpha);
    outline-width: medium;
    outline-offset: 2px;
}

a:visited,
a:active {
    color: var(--color-alpha);
}

a:hover,
a:focus {
    color: var(--color-alpha-light);
}

label,
input {
    display: block;
}

select {
    width: 100%;
}

input::placeholder {
    color: var(--color-neutral-light);
}

/*------------------------------------*\
#OBJECTS
\*------------------------------------*/

/*
    Objects: Row
    ---
    Creates a horizontal row that stretches the viewport and adds padding around children
*/

.o-row {
    position: relative;
    padding: 24px 24px 0;
}

/*
    Objects: Container
    ---
    Creates a horizontal container that sets de global max-width
*/

.o-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 79.5em; /* 79.5 * 16px = 1272 */
    width: 100%;
}

/*
    Objects: List
    ---
    Small reusable object to remove default list styling from lists
*/

.o-list {
    list-style: none;
    padding: 0;
}

/*
    Object: Button reset
    ---
    Small button reset object
*/

.o-button-reset {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

/*
    Object: Hide accessible
    ---
    Accessibly hide any element
*/

.o-hide-accessible {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/

.c-app {
    --c-app__topbar-height: calc(var(--global-baseline) * 15);
    min-height: 100vh;
}

.c-app__logo {
    background-color: var(--color-gray-dark-xxxx);
    padding: 0 var(--global-whitespace-lg);
    display: flex;
    align-items: center;
}

.c-app__topbar {
    background-color: var(--color-white);
    box-shadow: var(--global-box-shadow);
    z-index: 20;
    display: none;
    /* box-shadow: 0px 2px 3px #0000000d; */
}

.c-app__sidebar {
    background-color: var(--color-gray-dark-xxx);
    display: none;
}

.c-app__main {
    background-color: var(--color-gray-light-xxxx);
}

/* .c-app__topbar,
.c-app__logo {
    position: sticky;
    top: 0
}

.c-app__sidebar {
    position: sticky;
    top: var(--c-app__topbar-height);
    height: calc(100vh - var(--c-app__topbar-height));
    overflow: auto;
    background-color: var(--color-gray-dark-xxx);
}

.c-app__main {
    height: 100%;
} */

@media (min-width: 992px) {
    .c-app__topbar,
    .c-app__sidebar {
        display: block;
    }

    .c-app {
        display: grid;
        grid-template-columns: 17rem 1fr;
        grid-template-rows: var(--c-app__topbar-height) 1fr;
    }
}

.c-main-nav__list {
    margin-bottom: 0;
}

.c-main-nav__item {
    margin: var(--global-baseline) 0;
    
}

.c-main-nav__item:hover {
    transition: background-color 1s;
    background-color: var(--color-gray-dark-xxxx);
    border-left: 5px solid var(--color-purple);
}

.c-main-nav__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--color-white);
    font-size: 1rem;
    line-height: calc(var(--global-baseline) * 4);
    padding: var(--global-whitespace-sm) var(--global-whitespace-lg) var(--global-whitespace-sm) var(--global-whitespace-md);
    border-left: 5px solid var(--global-color-alpha);
    transform: translateX(-5px);
    width: calc(100% + 5px);
    transition: transform var(--global-transition-beta);
}

.c-main-nav__link:hover {
    transition-duration: var(--global-transition-alpha);
}

.c-main-nav__link,
.c-main-nav__link:hover,
.c-main-nav__link:visited {
    color: var(--color-white);
}

.c-main-nav__link:hover,
.c-main-nav__link:focus,
.is-selected .c-main-nav__link {
    color: var(--color-white);
    background-color: var(--color-purple-dark);
    transform: none;
}

.c-main-nav__icon {
    fill: var(--color-gray);
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

.c-main-nav__item:hover .c-main-nav__icon {
    fill: var(--color-purple);
}

/*
    Component: Logo
    ---
    Website main logo
*/

.c-logo {
    line-height: calc(var(--global-baseline) * 4);
    padding: 25px;
}

.c-title {
    font-size: 24px;
    padding: 24px 24px 0 24px;
}

.c-card__title {
    font-size: 18px;
    line-height: 13px;
    font-family: "Source Sans Pro";
}

.c-input {
    --input-transition: all var(--global-transitionDuration-alpha) var(--global-transitionEasing-out);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    border-radius: var(--input-borderRadius, var(--global-borderRadius));
    border: var(--input-borderWidth, var(--global-borderWidth)) solid var(--input-borderColor, var(--global-input-borderColor));
    background-color: var(--input-backgroundColor, var(--global-input-backgroundColor));
    color: var(--global-input-color);
    font-family: inherit;
    font-size: 16px;
    line-height: calc(var(--global-baseline) * 3);
    padding: calc(var(--global-baseline) * 1.5 - var(--global-borderWidth)) var(--global-whitespace-md);
    outline: none;
    transition: var(--input-transition);
}

.c-input:hover {
    border-color: var(--input-hover-borderColor, var(--global-input-hover-borderColor));
}

.c-input:focus,
.c-input:active {
    border-color: var(--input-focus-borderColor, var(--global-input-focus-borderColor));
    box-shadow: var(--global-input-focus-boxShadowSpread) var(--input-focus-boxShadowColor, var(--global-input-focus-boxShadowColor));
}

.c-card__select {
    display: block;
    position: relative;
}

.c-custom-select__symbol {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 12px;
    right: 12px;
    pointer-events: none;
    fill: var(--global-color-neutral-x-light);
}

.c-card__header {
    display: flex;
    justify-content: space-between;
}

.grid-container {
    display: grid;
    grid-template-columns: 12;
    grid-template-areas:
        'item1 item1 item1 item1 item1 item1'
        'item2 item2 item2 item3 item3 item3'
        'item4 item4 item5 item5 item5 item5'
        'item4 item4 item6 item6 item7 item7'
        'item8 item8 item9 item9 item9 item9';
    grid-gap: 30px;
    padding: 24px;
}

.grid-item {
    background-color: white;
    padding: 24px;
}

.grid-item-1 {
    grid-area: item1;
}

.grid-item-2 {
    grid-area: item2;
}

.grid-item-3 {
    grid-area: item3;
}

.grid-item-4 {
    grid-area: item4;
}

.grid-item-5 {
    grid-area: item5;
}

.grid-item-6 {
    grid-area: item6;
}

.grid-item-7 {
    grid-area: item7;
}

.grid-item-8 {
    grid-area: item8;
}

.grid-item-9 {
    grid-area: item9;
}

/*------------------------------------*\
#UTILITIES
\*------------------------------------*/

/*
    Utilities: color
    ---
    Utility classes to put specific colors onto elements
*/

.u-color-neutral {
    color: var(--color-neutral);
}

.u-color-neutral-dark {
    color: var(--color-neutral-dark);
}

/*
    Utilities: spacing
    ---
    Utility classes to put specific margins and paddings onto elements
*/

.u-pt-clear {
    padding-top: 0 !important;
}

.u-mb-clear {
    margin-bottom: 0 !important;
}

.u-mb-xs {
    margin-bottom: 4px !important;
}

.u-mb-sm {
    margin-bottom: 8px !important;
}

.u-mb-md {
    margin-bottom: 16px !important;
}

.u-mb-lg {
    margin-bottom: 32px !important;
}

.u-mb-xl {
    margin-bottom: 48px !important;
}

/*
    Utilities: max-width
    ---
    Utility classes to put specific max widths onto elements
*/

.u-max-width-xs {
    max-width: 27em !important;
}

.u-max-width-sm {
    max-width: 39em !important;
}

.u-max-width-md {
    max-width: 50em !important;
}

.u-max-width-lg {
    max-width: 63.5em !important;
}

.u-max-width-none {
    max-width: none !important;
}


/*
    Utilities: align
    ---
    Utility classes align text or components
*/

.u-align-text-center {
    text-align: center;
}

.u-align-center {
    margin: 0 auto;
}

/*
    Utilities: text
    Utility classes to create smaller or bigger test
*/

.u-text-sm {
    font-size: 14px;
}

/*------------------------------------*\
#MEDIA
\*------------------------------------*/

/*
    Media Queries
    ---
    EXAMPLE Media Queries for Responsive Design.
    These examples override the primary ('mobile first') styles.
    USE THEM INLINE!
*/

/* Extra small devices (portrait phones, less than 576px)
No media query since this is the default in mobile first design
*/

/* Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}
*/

/* Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}
*/

/* Large devices (landscape tablets, desktops, 992px and up)
@media (min-width: 992px) {}
*/

/* Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}
*/

/*
    Print styles.
    ---
    Inlined to avoid the additional HTTP request:
    http://www.phpied.com/delay-loading-your-print-css/
*/

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
        http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
    * Don't show links that are fragment identifiers,
    * or use the `javascript:` pseudo protocol
    */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
    * Printing Tables:
    * http://css-discuss.incutio.com/wiki/Printing_Tables
    */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}
